In [50]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [51]:
df_stats = pd.read_excel('Classificazioni statistiche-e-dimensione-dei-comuni_31_12_2018.xls')
df_stats.head()

,Codice Regione,Codice Istat del Comune \n(formato alfanumerico),Codice Istat del Comune \n(formato numerico),Denominazione (italiana e straniera),Denominazione altra lingua,Superficie territoriale (kmq) al 01/01/2018,Popolazione legale 2011 (09/10/2011),Popolazione residente al 31/12/2018,Zona altimetrica,Altitudine del centro (metri),Comune litoraneo,Comune isolano,Grado di urbanizzazione,Zone costiere
0,1,1001,1001,Agliè,NaN,13.1462,2644,2634,3,315,0,0,2,0
1,1,1002,1002,Airasca,NaN,15.7393,3819,3613,5,257,0,0,3,0
2,1,1003,1003,Ala di Stura,NaN,46.3315,462,442,1,1080,0,0,3,0
3,1,1004,1004,Albiano d'Ivrea,NaN,11.7314,1791,1642,3,230,0,0,3,0
4,1,1005,1005,Alice Superiore,NaN,7.3796,701,707,3,610,0,0,3,0

In [52]:
df_stats['Denominazione (italiana e straniera)'] = df_stats['Denominazione (italiana e straniera)'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

In [53]:
df_stats = df_stats[['Denominazione (italiana e straniera)','Superficie territoriale (kmq) al 01/01/2018',\
         'Zona altimetrica','Altitudine del centro (metri)','Comune litoraneo','Comune isolano',\
         'Grado di urbanizzazione','Zone costiere']]

In [54]:
df_stats = df_stats.rename(columns = {'Denominazione (italiana e straniera)':'Comune'})

In [55]:
df_stats = df_stats.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [56]:
df_stats

,Comune,Superficie territoriale (kmq) al 01/01/2018,Zona altimetrica,Altitudine del centro (metri),Comune litoraneo,Comune isolano,Grado di urbanizzazione,Zone costiere
0,aglie,13.1462,3,315,0,0,2,0
1,airasca,15.7393,5,257,0,0,3,0
2,ala-di-stura,46.3315,1,1080,0,0,3,0
3,albiano-d-ivrea,11.7314,3,230,0,0,3,0
4,alice-superiore,7.3796,3,610,0,0,3,0
...,...,...,...,...,...,...,...,...
7949,villaputzu,181.3074,4,8,1,0,3,1
7950,villasalto,130.3596,3,502,0,0,3,0
7951,villasimius,57.9708,4,41,1,0,3,1
7952,villasor,86.7935,5,25,0,0,2,0
7953,villaspeciosa,27.1937,5,12,0,0,3,0

### Popolazione_fin

In [57]:
df_popol = pd.read_csv('../Data_popolazione\\Data\\popol_fin.csv')

df_popol = df_popol.set_index('Territorio').T
df_popol.index = pd.to_datetime(df_popol.index)

In [58]:
df_popol = df_popol.loc[['2018-12-01']].T.reset_index()
df_popol['Territorio'] = df_popol['Territorio'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

df_popol = df_popol.rename(columns = {df_popol.columns[1]:'popolazione_finale','Territorio':'Comune'})

In [59]:
df_popol = df_popol.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [60]:
df_popol

                     Comune  popolazione_finale
0               abano-terme             20265.0
1           abbadia-cerreto               277.0
2           abbadia-lariana              3205.0
3     abbadia-san-salvatore              6275.0
4                 abbasanta              2678.0
...                     ...                 ...
7899                 zuglio               568.0
7900               zumaglia              1021.0
7901                zumpano              2618.0
7902                zungoli              1058.0
7903                 zungri              1937.0

[7904 rows x 2 columns]

### Popolazione nati

In [61]:
df_nati = pd.read_csv('../Data_popolazione\\Data\\nati_vivi.csv')

df_nati = df_nati.set_index('Territorio').T
df_nati.index = pd.to_datetime(df_nati.index)

In [62]:
df_nati = df_nati.loc['2018-01-01':'2018-12-01'].sum().T.reset_index()
df_nati['Territorio'] = df_nati['Territorio'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

df_nati = df_nati.rename(columns = {df_nati.columns[1]:'popolazione_nati','Territorio':'Comune'})

In [63]:
df_nati = df_nati.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [64]:
df_nati

                     Comune  popolazione_nati
0               abano-terme             122.0
1           abbadia-cerreto               1.0
2           abbadia-lariana              19.0
3     abbadia-san-salvatore              33.0
4                 abbasanta              18.0
...                     ...               ...
7899                 zuglio               4.0
7900               zumaglia               6.0
7901                zumpano              25.0
7902                zungoli               4.0
7903                 zungri              15.0

[7904 rows x 2 columns]

### Popolazione morti

In [65]:
df_morti = pd.read_csv('../Data_popolazione\\Data\\morti.csv')

df_morti = df_morti.set_index('Territorio').T
df_morti.index = pd.to_datetime(df_morti.index)

In [66]:
df_morti = df_morti.loc['2018-01-01':'2018-12-01'].sum().T.reset_index()
df_morti['Territorio'] = df_morti['Territorio'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

df_morti = df_morti.rename(columns = {df_morti.columns[1]:'popolazione_morti','Territorio':'Comune'})

In [67]:
df_morti = df_morti.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [68]:
df_morti

                     Comune  popolazione_morti
0               abano-terme              203.0
1           abbadia-cerreto                3.0
2           abbadia-lariana               24.0
3     abbadia-san-salvatore              101.0
4                 abbasanta               23.0
...                     ...                ...
7899                 zuglio                6.0
7900               zumaglia               14.0
7901                zumpano               24.0
7902                zungoli               20.0
7903                 zungri               15.0

[7904 rows x 2 columns]

### Popolazione saldo_migr

In [69]:
df_saldo_migr = pd.read_csv('../Data_popolazione\\Data\\saldo_migr.csv')

df_saldo_migr = df_saldo_migr.set_index('Territorio').T
df_saldo_migr.index = pd.to_datetime(df_saldo_migr.index)

In [70]:
df_saldo_migr = df_saldo_migr.loc['2018-01-01':'2018-12-01'].sum().T.reset_index()
df_saldo_migr['Territorio'] = df_saldo_migr['Territorio'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

df_saldo_migr = df_saldo_migr.rename(columns = {df_saldo_migr.columns[1]:'popolazione_saldo_migratorio','Territorio':'Comune'})

In [71]:
df_saldo_migr = df_saldo_migr.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [72]:
df_saldo_migr

                     Comune  popolazione_saldo_migratorio
0               abano-terme                         249.0
1           abbadia-cerreto                         -10.0
2           abbadia-lariana                           4.0
3     abbadia-san-salvatore                          22.0
4                 abbasanta                          -7.0
...                     ...                           ...
7899                 zuglio                         -13.0
7900               zumaglia                           9.0
7901                zumpano                          12.0
7902                zungoli                          -2.0
7903                 zungri                         -22.0

[7904 rows x 2 columns]

### Popolazione saldo_migr_e_altri_mot

In [73]:
df_saldo_migr_e_altri_mot = pd.read_csv('../Data_popolazione\\Data\\saldo_migr_e_altrimot.csv')

df_saldo_migr_e_altri_mot = df_saldo_migr_e_altri_mot.set_index('Territorio').T
df_saldo_migr_e_altri_mot.index = pd.to_datetime(df_saldo_migr_e_altri_mot.index)

In [74]:
df_saldo_migr_e_altri_mot = df_saldo_migr_e_altri_mot.loc['2018-01-01':'2018-12-01'].sum().T.reset_index()
df_saldo_migr_e_altri_mot['Territorio'] = df_saldo_migr_e_altri_mot['Territorio'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

df_saldo_migr_e_altri_mot = df_saldo_migr_e_altri_mot.rename(columns = {df_saldo_migr_e_altri_mot.columns[1]:'popolazione_saldo_migratorio_e_altri_motivi','Territorio':'Comune'})

In [75]:
df_saldo_migr_e_altri_mot = df_saldo_migr_e_altri_mot.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [76]:
df_saldo_migr_e_altri_mot

                     Comune  popolazione_saldo_migratorio_e_altri_motivi
0               abano-terme                                        245.0
1           abbadia-cerreto                                        -10.0
2           abbadia-lariana                                         -6.0
3     abbadia-san-salvatore                                         18.0
4                 abbasanta                                         -6.0
...                     ...                                          ...
7899                 zuglio                                        -13.0
7900               zumaglia                                          5.0
7901                zumpano                                         12.0
7902                zungoli                                          1.0
7903                 zungri                                        -22.0

[7904 rows x 2 columns]

### Popolazione saldo_migr_est

In [77]:
df_saldo_migr_est = pd.read_csv('../Data_popolazione\\Data\\saldo_migr_est.csv')

df_saldo_migr_est = df_saldo_migr_est.set_index('Territorio').T
df_saldo_migr_est.index = pd.to_datetime(df_saldo_migr_est.index)

In [78]:
df_saldo_migr_est = df_saldo_migr_est.loc['2018-01-01':'2018-12-01'].sum().T.reset_index()
df_saldo_migr_est['Territorio'] = df_saldo_migr_est['Territorio'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

df_saldo_migr_est = df_saldo_migr_est.rename(columns = {df_saldo_migr_est.columns[1]:'popolazione_saldo_migratorio_estero','Territorio':'Comune'})

In [79]:
df_saldo_migr_est = df_saldo_migr_est.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [80]:
df_saldo_migr_est

                     Comune  popolazione_saldo_migratorio_estero
0               abano-terme                                 57.0
1           abbadia-cerreto                                  0.0
2           abbadia-lariana                                  6.0
3     abbadia-san-salvatore                                  3.0
4                 abbasanta                                  5.0
...                     ...                                  ...
7899                 zuglio                                  1.0
7900               zumaglia                                 -3.0
7901                zumpano                                  6.0
7902                zungoli                                  5.0
7903                 zungri                                 -7.0

[7904 rows x 2 columns]

### Popolazione saldo_migr_int

In [81]:
df_saldo_migr_int = pd.read_csv('../Data_popolazione\\Data\\saldo_migr_int.csv')

df_saldo_migr_int = df_saldo_migr_int.set_index('Territorio').T
df_saldo_migr_int.index = pd.to_datetime(df_saldo_migr_int.index)

In [82]:
df_saldo_migr_int = df_saldo_migr_int.loc['2018-01-01':'2018-12-01'].sum().T.reset_index()
df_saldo_migr_int['Territorio'] = df_saldo_migr_int['Territorio'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

df_saldo_migr_int = df_saldo_migr_int.rename(columns = {df_saldo_migr_int.columns[1]:'popolazione_saldo_migratorio_interno','Territorio':'Comune'})

In [83]:
df_saldo_migr_int = df_saldo_migr_int.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [84]:
df_saldo_migr_int

                     Comune  popolazione_saldo_migratorio_interno
0               abano-terme                                 192.0
1           abbadia-cerreto                                 -10.0
2           abbadia-lariana                                  -2.0
3     abbadia-san-salvatore                                  19.0
4                 abbasanta                                 -12.0
...                     ...                                   ...
7899                 zuglio                                 -14.0
7900               zumaglia                                  12.0
7901                zumpano                                   6.0
7902                zungoli                                  -7.0
7903                 zungri                                 -15.0

[7904 rows x 2 columns]

### Popolazione saldo_naturale

In [85]:
df_saldo_naturale = pd.read_csv('../Data_popolazione\\Data\\saldo_naturale.csv')

df_saldo_naturale = df_saldo_naturale.set_index('Territorio').T
df_saldo_naturale.index = pd.to_datetime(df_saldo_naturale.index)

In [86]:
df_saldo_naturale = df_saldo_naturale.loc['2018-01-01':'2018-12-01'].sum().T.reset_index()
df_saldo_naturale['Territorio'] = df_saldo_naturale['Territorio'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

df_saldo_naturale = df_saldo_naturale.rename(columns = {df_saldo_naturale.columns[1]:'popolazione_saldo_naturale','Territorio':'Comune'})

In [87]:
df_saldo_naturale = df_saldo_naturale.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [88]:
df_saldo_naturale

                     Comune  popolazione_saldo_naturale
0               abano-terme                       -81.0
1           abbadia-cerreto                        -2.0
2           abbadia-lariana                        -5.0
3     abbadia-san-salvatore                       -68.0
4                 abbasanta                        -5.0
...                     ...                         ...
7899                 zuglio                        -2.0
7900               zumaglia                        -8.0
7901                zumpano                         1.0
7902                zungoli                       -16.0
7903                 zungri                         0.0

[7904 rows x 2 columns]

### Popolazione saldotot_incr_decr

In [89]:
df_saldotot_incr_decr = pd.read_csv('../Data_popolazione\\Data\\saldotot_incr_decr.csv')

df_saldotot_incr_decr = df_saldotot_incr_decr.set_index('Territorio').T
df_saldotot_incr_decr.index = pd.to_datetime(df_saldotot_incr_decr.index)

In [90]:
df_saldotot_incr_decr = df_saldotot_incr_decr.loc['2018-01-01':'2018-12-01'].sum().T.reset_index()
df_saldotot_incr_decr['Territorio'] = df_saldotot_incr_decr['Territorio'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

df_saldotot_incr_decr = df_saldotot_incr_decr.rename(columns = {df_saldotot_incr_decr.columns[1]:'popolazione_saldotot_incr_decr','Territorio':'Comune'})

In [91]:
df_saldotot_incr_decr = df_saldotot_incr_decr.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [92]:
df_saldotot_incr_decr

                     Comune  popolazione_saldotot_incr_decr
0               abano-terme                           164.0
1           abbadia-cerreto                           -12.0
2           abbadia-lariana                           -11.0
3     abbadia-san-salvatore                           -50.0
4                 abbasanta                           -11.0
...                     ...                             ...
7899                 zuglio                           -15.0
7900               zumaglia                            -3.0
7901                zumpano                            13.0
7902                zungoli                           -15.0
7903                 zungri                           -22.0

[7904 rows x 2 columns]

### Popolazione canc_anagr

In [93]:
df_canc_anagr = pd.read_csv('../Data_popolazione\\Data\\canc_anagr.csv')

df_canc_anagr = df_canc_anagr.set_index('Territorio').T
df_canc_anagr.index = pd.to_datetime(df_canc_anagr.index)

In [94]:
df_canc_anagr = df_canc_anagr.loc['2018-01-01':'2018-12-01'].sum().T.reset_index()
df_canc_anagr['Territorio'] = df_canc_anagr['Territorio'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

df_canc_anagr = df_canc_anagr.rename(columns = {df_canc_anagr.columns[1]:'popolazione_canc_anagr','Territorio':'Comune'})

In [95]:
df_canc_anagr = df_canc_anagr.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [96]:
df_canc_anagr

                     Comune  popolazione_canc_anagr
0               abano-terme                   848.0
1           abbadia-cerreto                    21.0
2           abbadia-lariana                   170.0
3     abbadia-san-salvatore                   240.0
4                 abbasanta                    88.0
...                     ...                     ...
7899                 zuglio                    28.0
7900               zumaglia                    49.0
7901                zumpano                    83.0
7902                zungoli                    38.0
7903                 zungri                    63.0

[7904 rows x 2 columns]

### Popolazione canc_anagr

In [97]:
df_iscr_anagr = pd.read_csv('../Data_popolazione\\Data\\iscr_anagr.csv')

df_iscr_anagr = df_iscr_anagr.set_index('Territorio').T
df_iscr_anagr.index = pd.to_datetime(df_iscr_anagr.index)

In [98]:
df_iscr_anagr = df_iscr_anagr.loc['2018-01-01':'2018-12-01'].sum().T.reset_index()
df_iscr_anagr['Territorio'] = df_iscr_anagr['Territorio'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))

df_iscr_anagr = df_iscr_anagr.rename(columns = {df_iscr_anagr.columns[1]:'popolazione_iscr_anagr','Territorio':'Comune'})

In [99]:
df_iscr_anagr = df_iscr_anagr.replace({'vo-':'vo', 'castellania':'castellania-coppi','châtillon':'chatillon','crespina-lorenzana':\
                            'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                            'duino-aurisina-devin-nabrežina':'duino-aurisina','hône':'hone','jovençan':'jovencan',\
                            'monrupino-repentabor':'monrupino','montebello-jonico':'montebello-ionico',\
                            'montescudo-monte-colombo':'montescudo-montecolombo','negrar':'negrar-di-valpolicella',\
                            'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                            'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                            'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                            'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                            'san-giovanni-di-fassa-sen-jan':'san-giovanni-di-fassa',\
                             'san-stino-di-livenza':'santo-stino-di-livenza',\
                             'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico'})

In [100]:
df_iscr_anagr

                     Comune  popolazione_iscr_anagr
0               abano-terme                  1012.0
1           abbadia-cerreto                     9.0
2           abbadia-lariana                   159.0
3     abbadia-san-salvatore                   190.0
4                 abbasanta                    77.0
...                     ...                     ...
7899                 zuglio                    13.0
7900               zumaglia                    46.0
7901                zumpano                    96.0
7902                zungoli                    23.0
7903                 zungri                    41.0

[7904 rows x 2 columns]

### Distanza dal centro

In [101]:
a = pd.read_csv('..\\Data_distanze\\Data\\dist_ancona.csv')
a = a[[c for c in a.columns if c != 'Destinazione']]

b = pd.read_csv('..\\Data_distanze\\Data\\dist_aosta.csv')
b = b[[c for c in b.columns if c != 'Destinazione']]

d = pd.read_csv('..\\Data_distanze\\Data\\dist_bari.csv')
d = d[[c for c in d.columns if c != 'Destinazione']]

e = pd.read_csv('..\\Data_distanze\\Data\\dist_bologna.csv')
e = e[[c for c in e.columns if c != 'Destinazione']]

f = pd.read_csv('..\\Data_distanze\\Data\\dist_cagliari.csv')
f = f[[c for c in f.columns if c != 'Destinazione']]

g = pd.read_csv('..\\Data_distanze\\Data\\dist_campobasso.csv')
g = g[[c for c in g.columns if c != 'Destinazione']]

h = pd.read_csv('..\\Data_distanze\\Data\\dist_catanzaro.csv')
h = h[[c for c in h.columns if c != 'Destinazione']]

i = pd.read_csv('..\\Data_distanze\\Data\\dist_firenze.csv')
i = i[[c for c in i.columns if c != 'Destinazione']]

j = pd.read_csv('..\\Data_distanze\\Data\\dist_genova.csv')
j = j[[c for c in j.columns if c != 'Destinazione']]

k = pd.read_csv('..\\Data_distanze\\Data\\dist_l-aquila.csv')
k = k[[c for c in k.columns if c != 'Destinazione']]

l = pd.read_csv('..\\Data_distanze\\Data\\dist_milano.csv')
l = l[[c for c in l.columns if c != 'Destinazione']]

m = pd.read_csv('..\\Data_distanze\\Data\\dist_napoli.csv')
m = m[[c for c in m.columns if c != 'Destinazione']]

n = pd.read_csv('..\\Data_distanze\\Data\\dist_palermo.csv')
n = n[[c for c in n.columns if c != 'Destinazione']]

o = pd.read_csv('..\\Data_distanze\\Data\\dist_perugia.csv')
o = o[[c for c in o.columns if c != 'Destinazione']]

p = pd.read_csv('..\\Data_distanze\\Data\\dist_potenza.csv')
p = p[[c for c in p.columns if c != 'Destinazione']]

q = pd.read_csv('..\\Data_distanze\\Data\\dist_roma.csv')
q = q[[c for c in q.columns if c != 'Destinazione']]

r = pd.read_csv('..\\Data_distanze\\Data\\dist_torino.csv')
r = r[[c for c in r.columns if c != 'Destinazione']]

s = pd.read_csv('..\\Data_distanze\\Data\\dist_trento.csv')
s = s[[c for c in s.columns if c != 'Destinazione']]

t = pd.read_csv('..\\Data_distanze\\Data\\dist_trieste.csv')
t = t[[c for c in t.columns if c != 'Destinazione']]

u = pd.read_csv('..\\Data_distanze\\Data\\dist_venezia.csv')
u = u[[c for c in u.columns if c != 'Destinazione']]

In [102]:
for df in [a,b,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]:
    df.set_index('Origine',inplace = True)

In [103]:
df_dist = pd.concat([a,b,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u],axis = 0)

In [104]:
df_dist = df_dist.reset_index()

In [105]:
df_dist['Origine'] = df_dist['Origine'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))
df_dist = df_dist.set_index('Origine')
df_dist.index.names = ['Comune']
#df_dist = df_dist.rename(columns = {df_dist.columns[0]:'reddito_imp'})

In [106]:
df_dist = df_dist.reset_index()

### Reddito disponibile

In [107]:
df_reddito = pd.read_csv('..\\Data_reddito\\Data\\reddito.csv', index_col='index')
df_reddito.head()

,2012-01,2013-01,2014-01,2015-01,2016-01,2017-01,2018-01
index,,,,,,,
abano-terme,308639216.0,309653134.0,310030928.0,314299192.0,317482005.0,327085421.0,335885457.0
abbadia-cerreto,3301522.0,3397994.0,3523206.0,3539180.0,3449040.0,3325320.0,3390077.0
abbadia-lariana,53121384.0,53999328.0,52229837.0,52769966.0,53311125.0,54788622.0,57202477.0
abbadia-san-salvatore,79509850.0,80548115.0,79095984.0,79431816.0,79804661.0,78682793.0,82044777.0
abbasanta,31153815.0,31432048.0,30252651.0,29751031.0,29439674.0,29099847.0,30421473.0

In [108]:
#df_reddito.T.loc['2018-01']
df_reddito = df_reddito.T.loc[['2018-01']].T.reset_index()

In [109]:
df_reddito['index'] = df_reddito['index'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))
df_reddito = df_reddito.set_index('index')
df_reddito.index.names = ['Comune']
df_reddito = df_reddito.rename(columns = {df_reddito.columns[0]:'reddito_imp'})

In [110]:
df_reddito = df_reddito.reset_index()

In [111]:
#TUTTE DA CONTROLLARE
df_reddito = df_reddito.replace({'châtillon':'chatillon','crespina-lorenzana':'crespina-e-lorenzana','doberdo-del-lago-doberdob':'doberdo-del-lago',\
                                'duino-aurisina-devin-nabrežina':'duino-aurisina',\
                                'hône':'hone','jovençan':'jovencan',\
                                'monrupino-repentabor':'monrupino',\
                                'montebello-jonico':'montebello-ionico','montescudo-monte-colombo':'montescudo-montecolombo',\
                                'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                                'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia','rhêmes-notre-dame':'rhemes-notre-dame',\
                                'rhêmes-saint-georges':'rhemes-saint-georges','salorno-sulla-strada-del-vino':'salorno',\
                                'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                                'san-stino-di-livenza':'santo-stino-di-livenza',\
                                'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo',\
                                'sgonico-zgonik':'sgonico','vo-':'vo'})

### Addetti per macroaree

In [112]:
df_UL = pd.read_csv('..\\Data_asia\\Data\\UL_asia.csv')
df_UL = df_UL.set_index('Comune')

df_ADD = pd.read_csv('..\\Data_asia\\Data\\addetti_asia.csv')
df_ADD = df_ADD.set_index('Comune')

In [113]:
df_ADD = df_ADD.reset_index()
df_UL = df_UL.reset_index()

In [114]:
df_ADD = df_ADD.replace({'brione':'brione-bs', 'calliano':'calliano-at',  'châtillon':'chatillon',\
                         'crespina-lorenzana':'crespina-e-lorenzana', 'hône':'hone', 'jovençan':'jovencan',\
                          'montebello-jonico':'montebello-ionico', 'montescudo-monte-colombo':'montescudo-montecolombo',\
                          'pratovecchio-stia':'pratovecchio-e-stia', 'puegnago-del-garda':'puegnago-sul-garda',\
                         'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                         'rhêmes-notre-dame':'rhemes-notre-dame', 'rhêmes-saint-georges':'rhemes-saint-georges',\
                         'salorno-sulla-strada-del-vino':'salorno','san-dorligo-della-valle':'san-dorligo-della-valle-dolina',\
                         'san-stino-di-livenza':'santo-stino-di-livenza', 'valverde':'valverde-ct', 'vo-':'vo'})

In [115]:
df_UL = df_UL.replace({'brione':'brione-bs', 'calliano':'calliano-at',  'châtillon':'chatillon',\
                         'crespina-lorenzana':'crespina-e-lorenzana', 'hône':'hone', 'jovençan':'jovencan',\
                          'montebello-jonico':'montebello-ionico', 'montescudo-monte-colombo':'montescudo-montecolombo',\
                          'pratovecchio-stia':'pratovecchio-e-stia', 'puegnago-del-garda':'puegnago-sul-garda',\
                         'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                         'rhêmes-notre-dame':'rhemes-notre-dame', 'rhêmes-saint-georges':'rhemes-saint-georges',\
                         'salorno-sulla-strada-del-vino':'salorno','san-dorligo-della-valle':'san-dorligo-della-valle-dolina',\
                        'san-stino-di-livenza':'santo-stino-di-livenza', 'valverde':'valverde-ct', 'vo-':'vo'})

### Turismo

In [116]:
df_turismo = pd.read_csv('../Data_turismo/turismo_preds_2.csv')

In [117]:
df_turismo.head()

,Comune,Strutture_ricettive,Territorio,turismo_italiani,turismo_stranieri,turismo_totale
0,Aci Castello,1910.0,Catania,525668.0,425845.0,951513.0
1,Abriola,35.0,Potenza,245488.0,32074.0,277562.0
2,Abbadia Lariana,659.0,Lecco,109740.0,131063.0,240803.0
3,Accumoli,90.0,Rieti,45897.0,11185.0,57082.0
4,Aci Bonaccorsi,11.0,Catania,525668.0,425845.0,951513.0

In [118]:
df_turismo = df_turismo[['Comune','Strutture_ricettive','turismo_italiani','turismo_stranieri','turismo_totale']]
df_turismo['Comune'] = df_turismo['Comune'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))
df_turismo = df_turismo.set_index('Comune')
df_turismo.index.names = ['Comune']
#df_strutt = df_strutt.rename(columns = {df_strutt.columns[0]:'strutture_ricettive'})

In [119]:
df_turismo = df_turismo.reset_index()

In [120]:
df_turismo = df_turismo.replace({'calliano':'calliano-tn', 'châtillon':'chatillon','crespina-lorenzana':'crespina-e-lorenzana',\
                                 'doberdo-del-lago-doberdob':'doberdo-del-lago','duino-aurisina-devin-nabrežina':'duino-aurisina',\
                                  'hône':'hone','jovençan':'jovencan',\
                                 'monrupino-repentabor':'monrupino', 'montebello-jonico':'montebello-ionico',\
                                 'pratovecchio-stia':'pratovecchio-e-stia','puegnago-del-garda':'puegnago-sul-garda',\
                                 'reggio-di-calabria':'reggio-calabria','reggio-nell-emilia':'reggio-emilia',\
                                 'rhêmes-notre-dame':'rhemes-notre-dame','rhêmes-saint-georges':'rhemes-saint-georges',\
                                 'salorno-sulla-strada-del-vino':'salorno',\
                                 'san-floriano-del-collio-števerjan':'san-floriano-del-collio',\
                                 'san-stino-di-livenza':'santo-stino-di-livenza',\
                                 'savogna-d-isonzo-sovodnje-ob-soči':'savogna-d-isonzo','sgonico-zgonik':'sgonico',\
                                 'vo-':'vo'})

In [121]:
df_turismo.dropna().shape

(6851, 5)

### Prezzi case

In [122]:
df1 = pd.read_csv('..\\Data\\df_toscana_cv.csv')
df1 = df1.set_index('comune').T
df1.index = pd.to_datetime(df1.index)

df2 = pd.read_csv('..\\Data\\df_veneto_cv.csv')
df2 = df2.set_index('comune').T
df2.index = pd.to_datetime(df2.index)

df3 = pd.read_csv('..\\Data\\df_sardegna_cv.csv')
df3 = df3.set_index('comune').T
df3.index = pd.to_datetime(df3.index)

df4 = pd.read_csv('..\\Data\\df_sicilia_cv.csv')
df4 = df4.set_index('comune').T
df4.index = pd.to_datetime(df4.index)

df5 = pd.read_csv('..\\Data\\df_puglia_cv.csv')
df5 = df5.set_index('comune').T
df5.index = pd.to_datetime(df5.index)

df6 = pd.read_csv('..\\Data\\df_basilicata_cv.csv')
df6 = df6.set_index('comune').T
df6.index = pd.to_datetime(df6.index)

df7 = pd.read_csv('..\\Data\\df_calabria_cv.csv')
df7 = df7.set_index('comune').T
df7.index = pd.to_datetime(df7.index)

df8 = pd.read_csv('..\\Data\\df_campania_cv.csv')
df8 = df8.set_index('comune').T
df8.index = pd.to_datetime(df8.index)

df9 = pd.read_csv('..\\Data\\df_molise_cv.csv')
df9 = df9.set_index('comune').T
df9.index = pd.to_datetime(df9.index)

df10 = pd.read_csv('..\\Data\\df_lazio_cv.csv')
df10 = df10.set_index('comune').T
df10.index = pd.to_datetime(df10.index)

df11 = pd.read_csv('..\\Data\\df_abruzzo_cv.csv')
df11 = df11.set_index('comune').T
df11.index = pd.to_datetime(df11.index)
sansalvo = df11['san-salvo'].iloc[:,1]
df11 = df11.drop(['san-salvo'], axis = 1)
df11['san-salvo'] = sansalvo

df12 = pd.read_csv('..\\Data\\df_emiliaromagna_cv.csv')
df12 = df12.set_index('comune').T
df12.index = pd.to_datetime(df12.index)

df13 = pd.read_csv('..\\Data\\df_liguria_cv.csv')
df13 = df13.set_index('comune').T
df13.index = pd.to_datetime(df13.index)

df14 = pd.read_csv('..\\Data\\df_piemonte_cv.csv')
df14 = df14.set_index('comune').T
df14.index = pd.to_datetime(df14.index)
arborio = df14['arborio'].iloc[:,1]
df14 = df14.drop(['arborio'], axis = 1)
df14['arborio'] = arborio

df15 = pd.read_csv('..\\Data\\df_lombardia_cv.csv')
df15 = df15.set_index('comune').T
df15.index = pd.to_datetime(df15.index)

df16 = pd.read_csv('..\\Data\\df_friulivg_cv.csv')
df16 = df16.set_index('comune').T
df16.index = pd.to_datetime(df16.index)

df17 = pd.read_csv('..\\Data\\df_valledaosta_cv.csv')
df17 = df17.set_index('comune').T
df17.index = pd.to_datetime(df17.index)

df18 = pd.read_csv('..\\Data\\df_trentinoaa_cv.csv')
df18 = df18.set_index('comune').T
df18.index = pd.to_datetime(df18.index)

df19 = pd.read_csv('..\\Data\\df_umbria_cv.csv')
df19 = df19.set_index('comune').T
df19.index = pd.to_datetime(df19.index)

df20 = pd.read_csv('..\\Data\\df_marche_cv.csv')
df20 = df20.set_index('comune').T
df20.index = pd.to_datetime(df20.index)

In [123]:
df_prezzi = df1.join([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20])

In [124]:
df_prezzi = df_prezzi.loc[['2018-01-01']].T.reset_index()

In [125]:
df_prezzi['comune'] = df_prezzi['comune'].apply(lambda x : x.strip().lower().replace(' ','-').replace('ò','o')\
                              .replace('à','a').replace('è','e').replace('ì','i').replace('ù','u')\
                             .replace('\'','-').split('/')[0].replace('--','-').replace('é','e'))
df_prezzi = df_prezzi.set_index('comune')
df_prezzi.index.names = ['Comune']
df_prezzi = df_prezzi.rename(columns = {df_prezzi.columns[0]:'prezzi_vendita'})

In [126]:
df_prezzi = df_prezzi.reset_index()

In [127]:
len(df_dist), len(df_popol), len(df_UL), len(df_ADD), len(df_prezzi), len(df_reddito)

(7888, 7904, 7854, 7854, 7888, 8879)

### Join dataset

In [128]:
from functools import reduce

dfs = [df_prezzi.drop_duplicates(subset = 'Comune'),\
       df_popol.drop_duplicates(subset = 'Comune'),df_reddito.drop_duplicates(subset = 'Comune'),\
       df_UL.drop_duplicates(subset = 'Comune'),df_ADD.drop_duplicates(subset = 'Comune'),\
       df_dist.drop_duplicates(subset = 'Comune'),df_turismo.drop_duplicates(subset = 'Comune'),\
       df_canc_anagr.drop_duplicates(subset = 'Comune'),\
       df_iscr_anagr.drop_duplicates(subset = 'Comune'),df_morti.drop_duplicates(subset = 'Comune'),\
       df_nati.drop_duplicates(subset = 'Comune'),df_saldo_migr.drop_duplicates(subset = 'Comune'),\
       df_saldo_migr_e_altri_mot.drop_duplicates(subset = 'Comune'),df_saldo_migr_est.drop_duplicates(subset = 'Comune'),\
       df_saldo_migr_int.drop_duplicates(subset = 'Comune'),df_saldo_naturale.drop_duplicates(subset = 'Comune'),\
       df_saldotot_incr_decr.drop_duplicates(subset = 'Comune'),\
      df_stats.drop_duplicates(subset = 'Comune')]
df = reduce(lambda left,right: pd.merge(left,right,on='Comune', how = 'inner'), dfs)

In [129]:
df['reddito_pro_capite'] = df['reddito_imp']/df['popolazione_finale']

In [130]:
#df = df.set_index('Comune')

In [131]:
#df.to_csv('dataset_comuni_2018_3.csv', index=False)

In [134]:
sert = pd.read_csv('dataset_comuni_2018_3.csv', index_col='Comune')
sert

,prezzi_vendita,popolazione_finale,reddito_imp,UL_B,UL_C,UL_D,UL_E,UL_F,UL_G,UL_H,...,popolazione_saldo_naturale,popolazione_saldotot_incr_decr,Superficie territoriale (kmq) al 01/01/2018,Zona altimetrica,Altitudine del centro (metri),Comune litoraneo,Comune isolano,Grado di urbanizzazione,Zone costiere,reddito_pro_capite
Comune,,,,,,,,,,,,,,,,,,,,,
arezzo,1678.0,99179.0,1.530611e+09,2.0,1325.0,41.0,31.0,801.0,2543.0,200.0,...,-552.0,-240.0,384.7537,3,296,0,0,1,0,15432.816503
anghiari,1470.0,5501.0,7.528276e+07,0.0,64.0,2.0,1.0,51.0,88.0,10.0,...,-34.0,-35.0,130.9192,3,429,0,0,3,0,13685.286130
badia-tedalda,713.0,1051.0,1.207385e+07,0.0,7.0,7.0,0.0,11.0,20.0,8.0,...,-10.0,-24.0,118.7171,1,700,0,0,3,0,11487.961941
bibbiena,1381.0,12076.0,1.688810e+08,1.0,154.0,5.0,7.0,104.0,274.0,39.0,...,-58.0,-101.0,86.5122,1,425,0,0,3,0,13984.847549
bucine,1642.0,10091.0,1.459374e+08,0.0,130.0,1.0,2.0,154.0,149.0,23.0,...,-46.0,4.0,131.6157,3,249,0,0,3,0,14462.130512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
serra-sant-abbondio,802.0,963.0,1.181744e+07,0.0,3.0,1.0,0.0,10.0,9.0,0.0,...,-20.0,-38.0,32.8009,1,536,0,0,3,0,12271.481828
tavoleto,713.0,870.0,9.360228e+06,0.0,20.0,1.0,0.0,7.0,22.0,2.0,...,-1.0,-1.0,12.4065,3,426,0,0,3,0,10758.882759
tavullia,1509.0,7947.0,1.095253e+08,0.0,104.0,4.0,5.0,80.0,99.0,35.0,...,-1.0,-14.0,42.0639,4,170,0,0,3,1,13781.966277
urbania,985.0,6990.0,9.005894e+07,3.0,116.0,0.0,4.0,88.0,134.0,27.0,...,-28.0,-86.0,77.5329,3,273,0,0,2,0,12883.968526
vallefoglia,1468.0,15133.0,1.868345e+08,0.0,246.0,8.0,4.0,129.0,333.0,80.0,...,37.0,92.0,39.5691,4,280,0,0,2,0,12346.166061