<a id='top'></a>
# Dataset preparing
From raw data obtained through webscraping we clean them and move to more structured dataset.
## Table of Contents
1. [Loading raw data](#dum)
2. [Check length](#lmm)
3. [Check duplicated rows](#ass)
4. [Extract names](#rrr)
5. [Check null values](#tre)
6. [Add header](#se)
7. [Clean values](#ar)
8. [Write files](#es)

In [1]:
import numpy as np
import pandas as pd

<a id='dum'></a>
### 1. Loading raw data ([to top](#top))

In [4]:
dfa= pd.read_csv('Raw_data\\Veneto_affitti.csv' , header = None)
dfv= pd.read_csv('Raw_data\\Veneto_vendite.csv', header = None)

dfpa= pd.read_csv('Raw_data\\Veneto_province_affitti.csv', header = None)
dfpv= pd.read_csv('Raw_data\\Veneto_province_vendite.csv', header = None)

dfca = pd.read_csv('Raw_data\\Veneto_comuni_affitti.csv', header = None)
dfcv = pd.read_csv('Raw_data\\Veneto_comuni_vendite.csv', header = None)

dfza = pd.read_csv('Raw_data\\Veneto_zone_affitti.csv', header = None) 
dfzv = pd.read_csv('Raw_data\\Veneto_zone_vendite.csv', header = None)

<a id='lmm'></a>
### 2. Check length ([to top](#top))

In [5]:
len(dfa),len(dfv), len(dfpa), len(dfpv), len(dfca),len(dfcv), len(dfza), len(dfzv)

(1, 1, 11, 11, 567, 567, 106, 106)

<a id='ass'></a>
### 3. Check duplicated rows ([to top](#top))

In [6]:
len(dfa), len(dfv),len(dfa.drop_duplicates()), len(dfv.drop_duplicates())

(1, 1, 1, 1)

In [9]:
len(dfpa), len(dfpv),len(dfpa.drop_duplicates()), len(dfpv.drop_duplicates())
#dfpa = dfpa.drop_duplicates()
#dfpv = dfpv.drop_duplicates()

(7, 7, 7, 7)

In [12]:
len(dfca), len(dfcv),len(dfca.drop_duplicates()), len(dfcv.drop_duplicates())
#dfca = dfca.drop_duplicates()
#dfcv = dfcv.drop_duplicates()

# sembra essercene uno in più di comune

(564, 564, 564, 564)

In [13]:
len(dfza), len(dfzv),len(dfza.drop_duplicates()), len(dfzv.drop_duplicates())
#dfza = dfza.drop_duplicates()
#dfzv = dfzv.drop_duplicates()

(106, 106, 106, 106)

In [14]:
dfv.head(2)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,https://www.immobiliare.it/mercato-immobiliare...,giugno 2012-2.086 €,luglio 2012-2.067 €,agosto 2012-2.049 €,settembre 2012-2.037 €,ottobre 2012-2.030 €,novembre 2012-2.018 €,dicembre 2012-2.005 €,gennaio 2013-1.991 €,febbraio 2013-1.982 €,...,dicembre 2019-1.678 €,gennaio 2020-1.680 €,febbraio 2020-1.684 €,marzo 2020-1.691 €,aprile 2020-1.701 €,maggio 2020-1.708 €,giugno 2020-1.709 €,luglio 2020-1.706 €,agosto 2020-1.710 €,settembre 2020-1.713 €

In [15]:
dfpa.head(2)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,https://www.immobiliare.it/mercato-immobiliare...,"giugno 2012-9,30 €","luglio 2012-9,00 €","agosto 2012-8,50 €","settembre 2012-7,90 €","ottobre 2012-8,50 €","novembre 2012-8,10 €","dicembre 2012-7,90 €","gennaio 2013-8,00 €","febbraio 2013-9,10 €",...,"dicembre 2019-14,20 €","gennaio 2020-14,90 €","febbraio 2020-14,40 €","marzo 2020-15,20 €","aprile 2020-14,00 €","maggio 2020-14,70 €","giugno 2020-13,10 €","luglio 2020-13,90 €","agosto 2020-12,60 €","settembre 2020-12,50 €"
1,https://www.immobiliare.it/mercato-immobiliare...,"giugno 2012-8,50 €","luglio 2012-8,40 €","agosto 2012-8,40 €","settembre 2012-8,30 €","ottobre 2012-8,30 €","novembre 2012-8,30 €","dicembre 2012-8,20 €","gennaio 2013-8,10 €","febbraio 2013-8,10 €",...,"dicembre 2019-8,80 €","gennaio 2020-8,70 €","febbraio 2020-8,70 €","marzo 2020-8,80 €","aprile 2020-9,00 €","maggio 2020-9,10 €","giugno 2020-9,20 €","luglio 2020-9,20 €","agosto 2020-9,20 €","settembre 2020-9,20 €"

In [16]:
dfca.head(2)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,https://www.immobiliare.it/mercato-immobiliare...,"giugno 2012-4,50 €","luglio 2012-4,50 €","agosto 2012-5,00 €","settembre 2012-5,10 €","ottobre 2012-5,10 €","novembre 2012-5,40 €","dicembre 2012-5,70 €","gennaio 2013-5,70 €","febbraio 2013-5,90 €",...,"dicembre 2019-5,80 €","gennaio 2020-7,10 €","febbraio 2020-6,80 €","marzo 2020-5,90 €","aprile 2020-6,20 €","maggio 2020-6,10 €","giugno 2020-6,30 €","luglio 2020-6,60 €","agosto 2020-7,20 €","settembre 2020-7,60 €"
1,https://www.immobiliare.it/mercato-immobiliare...,"giugno 2012-8,80 €","luglio 2012-8,70 €","agosto 2012-9,00 €","settembre 2012-9,00 €","ottobre 2012-9,00 €","novembre 2012-9,30 €","dicembre 2012-9,30 €","gennaio 2013-9,30 €","febbraio 2013-9,50 €",...,"dicembre 2019-10,50 €","gennaio 2020-10,70 €","febbraio 2020-10,40 €","marzo 2020-10,40 €","aprile 2020-10,40 €","maggio 2020-10,50 €","giugno 2020-10,70 €","luglio 2020-11,20 €","agosto 2020-11,20 €","settembre 2020-11,20 €"

In [17]:
dfza.head(2)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,https://www.immobiliare.it/mercato-immobiliare...,"giugno 2012-11,00 €","luglio 2012-10,80 €","agosto 2012-10,70 €","settembre 2012-10,60 €","ottobre 2012-10,50 €","novembre 2012-10,30 €","dicembre 2012-10,10 €","gennaio 2013-10,10 €","febbraio 2013-10,10 €",...,"dicembre 2019-11,20 €","gennaio 2020-11,30 €","febbraio 2020-11,40 €","marzo 2020-11,70 €","aprile 2020-11,80 €","maggio 2020-11,80 €","giugno 2020-11,80 €","luglio 2020-11,70 €","agosto 2020-11,80 €","settembre 2020-11,60 €"
1,https://www.immobiliare.it/mercato-immobiliare...,"giugno 2012-6,90 €","luglio 2012-6,90 €","agosto 2012-6,90 €","settembre 2012-7,00 €","ottobre 2012-6,90 €","novembre 2012-7,10 €","dicembre 2012-7,10 €","gennaio 2013-7,10 €","febbraio 2013-7,20 €",...,"dicembre 2019-7,00 €","gennaio 2020-7,10 €","febbraio 2020-6,80 €","marzo 2020-6,90 €","aprile 2020-6,70 €","maggio 2020-6,70 €","giugno 2020-7,10 €","luglio 2020-7,10 €","agosto 2020-7,10 €","settembre 2020-7,30 €"

<a id='rrr'></a>
### 4. Extract names ([to top](#top))

We mantain only the name of the provincia/comune/zona (from the URL)

In [18]:
dfa[0] = dfa[0].apply(lambda url : url.split('/')[4])
dfv[0] = dfv[0].apply(lambda url : url.split('/')[4])

In [19]:
dfpa[0] = dfpa[0].apply(lambda url : url.split('/')[5].split('-')[0].strip())
dfpv[0] = dfpv[0].apply(lambda url : url.split('/')[5].split('-')[0].strip())

In [20]:
dfca[0] = dfca[0].apply(lambda url : url.split('/')[5].strip())
dfcv[0] = dfcv[0].apply(lambda url : url.split('/')[5].strip())

In [21]:
dfza[0] = dfza[0].apply(lambda url : url.split('/')[5] + ' ' + url.split('/')[6].strip())
dfzv[0] = dfzv[0].apply(lambda url : url.split('/')[5] + ' ' + url.split('/')[6].strip())

In [22]:
dfa.head(2)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,veneto,"giugno 2012-8,30 €","luglio 2012-8,30 €","agosto 2012-8,30 €","settembre 2012-8,20 €","ottobre 2012-8,20 €","novembre 2012-8,10 €","dicembre 2012-8,10 €","gennaio 2013-8,00 €","febbraio 2013-8,00 €",...,"dicembre 2019-9,10 €","gennaio 2020-9,10 €","febbraio 2020-9,20 €","marzo 2020-9,30 €","aprile 2020-9,50 €","maggio 2020-9,70 €","giugno 2020-9,80 €","luglio 2020-9,80 €","agosto 2020-9,70 €","settembre 2020-9,60 €"

In [23]:
dfpa.head(2)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,belluno,"giugno 2012-9,30 €","luglio 2012-9,00 €","agosto 2012-8,50 €","settembre 2012-7,90 €","ottobre 2012-8,50 €","novembre 2012-8,10 €","dicembre 2012-7,90 €","gennaio 2013-8,00 €","febbraio 2013-9,10 €",...,"dicembre 2019-14,20 €","gennaio 2020-14,90 €","febbraio 2020-14,40 €","marzo 2020-15,20 €","aprile 2020-14,00 €","maggio 2020-14,70 €","giugno 2020-13,10 €","luglio 2020-13,90 €","agosto 2020-12,60 €","settembre 2020-12,50 €"
1,padova,"giugno 2012-8,50 €","luglio 2012-8,40 €","agosto 2012-8,40 €","settembre 2012-8,30 €","ottobre 2012-8,30 €","novembre 2012-8,30 €","dicembre 2012-8,20 €","gennaio 2013-8,10 €","febbraio 2013-8,10 €",...,"dicembre 2019-8,80 €","gennaio 2020-8,70 €","febbraio 2020-8,70 €","marzo 2020-8,80 €","aprile 2020-9,00 €","maggio 2020-9,10 €","giugno 2020-9,20 €","luglio 2020-9,20 €","agosto 2020-9,20 €","settembre 2020-9,20 €"

In [24]:
dfca.head(2)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,belluno,"giugno 2012-4,50 €","luglio 2012-4,50 €","agosto 2012-5,00 €","settembre 2012-5,10 €","ottobre 2012-5,10 €","novembre 2012-5,40 €","dicembre 2012-5,70 €","gennaio 2013-5,70 €","febbraio 2013-5,90 €",...,"dicembre 2019-5,80 €","gennaio 2020-7,10 €","febbraio 2020-6,80 €","marzo 2020-5,90 €","aprile 2020-6,20 €","maggio 2020-6,10 €","giugno 2020-6,30 €","luglio 2020-6,60 €","agosto 2020-7,20 €","settembre 2020-7,60 €"
1,agordo,"giugno 2012-8,80 €","luglio 2012-8,70 €","agosto 2012-9,00 €","settembre 2012-9,00 €","ottobre 2012-9,00 €","novembre 2012-9,30 €","dicembre 2012-9,30 €","gennaio 2013-9,30 €","febbraio 2013-9,50 €",...,"dicembre 2019-10,50 €","gennaio 2020-10,70 €","febbraio 2020-10,40 €","marzo 2020-10,40 €","aprile 2020-10,40 €","maggio 2020-10,50 €","giugno 2020-10,70 €","luglio 2020-11,20 €","agosto 2020-11,20 €","settembre 2020-11,20 €"

In [25]:
dfza.head(2)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,padova piazze-duomo-santo-santa-sofia,"giugno 2012-11,00 €","luglio 2012-10,80 €","agosto 2012-10,70 €","settembre 2012-10,60 €","ottobre 2012-10,50 €","novembre 2012-10,30 €","dicembre 2012-10,10 €","gennaio 2013-10,10 €","febbraio 2013-10,10 €",...,"dicembre 2019-11,20 €","gennaio 2020-11,30 €","febbraio 2020-11,40 €","marzo 2020-11,70 €","aprile 2020-11,80 €","maggio 2020-11,80 €","giugno 2020-11,80 €","luglio 2020-11,70 €","agosto 2020-11,80 €","settembre 2020-11,60 €"
1,padova arcella-san-carlo-san-bellino,"giugno 2012-6,90 €","luglio 2012-6,90 €","agosto 2012-6,90 €","settembre 2012-7,00 €","ottobre 2012-6,90 €","novembre 2012-7,10 €","dicembre 2012-7,10 €","gennaio 2013-7,10 €","febbraio 2013-7,20 €",...,"dicembre 2019-7,00 €","gennaio 2020-7,10 €","febbraio 2020-6,80 €","marzo 2020-6,90 €","aprile 2020-6,70 €","maggio 2020-6,70 €","giugno 2020-7,10 €","luglio 2020-7,10 €","agosto 2020-7,10 €","settembre 2020-7,30 €"

<a id='tre'></a>
### 5. Check null values ([to top](#top))

In [26]:
dfa.isnull().any()[dfa.isnull().any() != False]

Series([], dtype: bool)

In [27]:
dfv.isnull().any()[dfv.isnull().any() != False]

Series([], dtype: bool)

In [28]:
dfpa.isnull().any()[dfpa.isnull().any() != False]

Series([], dtype: bool)

In [29]:
dfpv.isnull().any()[dfpa.isnull().any() != False]

Series([], dtype: bool)

In [30]:
dfca.isnull().any()[dfca.isnull().any() != False]

1      True
2      True
3      True
4      True
5      True
       ...
96     True
97     True
98     True
99     True
100    True
Length: 100, dtype: bool

In [31]:
dfcv.isnull().any()[dfcv.isnull().any() != False]

1      True
2      True
3      True
4      True
5      True
       ...
96     True
97     True
98     True
99     True
100    True
Length: 100, dtype: bool

In [32]:
dfza.isnull().any()[dfza.isnull().any() != False]

1      True
2      True
3      True
4      True
5      True
       ...
96     True
97     True
98     True
99     True
100    True
Length: 100, dtype: bool

In [33]:
dfzv.isnull().any()[dfzv.isnull().any() != False]

1      True
2      True
3      True
4      True
5      True
       ...
96     True
97     True
98     True
99     True
100    True
Length: 100, dtype: bool

In [34]:
len(dfza),len(dfza.dropna()), len(dfzv),len(dfzv.dropna())

(106, 91, 106, 91)

In [35]:
#Sometimes there are no data for zones
dfza = dfza.dropna()
dfzv = dfzv.dropna()

In [38]:
len(dfcv), len(dfcv.dropna())

(558, 558)

In [37]:
dfca = dfca.dropna()
dfcv = dfcv.dropna()

In [39]:
len(dfpv), len(dfpv.dropna())

(7, 7)

In [40]:
dfpa = dfpa.dropna()
dfpv = dfpv.dropna()

<a id='se'></a>
### 6. Add header ([to top](#top))

In [41]:
header_a = list(dfa.loc[0][1:].apply(lambda x : x.strip().split('-')[0].strip()))
header_a.insert(0,'regione')
dfa.columns  = header_a

header_v = list(dfv.loc[0][1:].apply(lambda x : x.strip().split('-')[0].strip()))
header_v.insert(0,'regione')
dfv.columns  = header_v

In [42]:
header_pa = list(dfa.loc[0][1:].apply(lambda x : x.strip().split('-')[0].strip()))
header_pa.insert(0,'provincia')
dfpa.columns  = header_pa

header_pv = list(dfv.loc[0][1:].apply(lambda x : x.strip().split('-')[0].strip()))
header_pv.insert(0,'provincia')
dfpv.columns  = header_pv

In [43]:
header_ca = list(dfa.loc[0][1:].apply(lambda x : x.strip().split('-')[0].strip()))
header_ca.insert(0,'comune')
dfca.columns  = header_ca

header_cv = list(dfv.loc[0][1:].apply(lambda x : x.strip().split('-')[0].strip()))
header_cv.insert(0,'comune')
dfcv.columns  = header_cv

In [44]:
header_za = list(dfza.loc[0][1:].apply(lambda x : x.strip().split('-')[0].strip()))
header_za.insert(0,'zona')
dfza.columns  = header_za

header_zv = list(dfzv.loc[0][1:].apply(lambda x : x.strip().split('-')[0].strip()))
header_zv.insert(0,'zona')
dfzv.columns  = header_zv

<a id='ar'></a>
### 7. Clean values ([to top](#top))

In [45]:
for col in dfa.columns[1:]:
    dfa[col] = dfa[col].apply(lambda x : x.strip().split('-')[1].replace('€','').replace(',','.'))
    
for col in dfv.columns[1:]:
    dfv[col] = dfv[col].apply(lambda x : x.strip().split('-')[1].replace('€','').replace(',','.').replace('.',''))

In [46]:
for col in dfpa.columns[1:]:
    dfpa[col] = dfpa[col].apply(lambda x : x.strip().split('-')[1].replace('€','').replace(',','.'))
    
for col in dfpv.columns[1:]:
    dfpv[col] = dfpv[col].apply(lambda x : x.strip().split('-')[1].replace('€','').replace(',','.').replace('.',''))

In [47]:
#dfca = dfca.dropna()
#dfcv = dfcv.dropna()

In [48]:
for col in dfca.columns[1:]:
    dfca[col] = dfca[col].apply(lambda x : x.strip().split('-')[1].replace('€','').replace(',','.'))
    
for col in dfcv.columns[1:]:
    dfcv[col] = dfcv[col].apply(lambda x : x.strip().split('-')[1].replace('€','').replace(',','.').replace('.',''))

In [49]:
for col in dfza.columns[1:]:
    dfza[col] = dfza[col].apply(lambda x : x.strip().split('-')[1].replace('€','').replace(',','.'))
    
for col in dfzv.columns[1:]:
    dfzv[col] = dfzv[col].apply(lambda x : x.strip().split('-')[1].replace('€','').replace(',','.').replace('.',''))

In [50]:
dfa.set_index('regione', inplace = True)
dfv.set_index('regione', inplace = True)
dfpa.set_index('provincia', inplace = True)
dfpv.set_index('provincia', inplace = True)
dfca.set_index('comune', inplace = True)
dfcv.set_index('comune', inplace = True)
dfza.set_index('zona', inplace = True)
dfzv.set_index('zona', inplace = True)

In [51]:
dictio = {'gennaio':'jan', 'febbraio':'feb', 'marzo':'mar', 'aprile':'apr',\
             'maggio':'may', 'giugno':'jun', 'luglio':'jul', 'agosto':'aug',\
             'settembre':'sep', 'ottobre':'oct', 'novembre':'nov', 'dicembre':'dec'}

In [52]:
datasets = [dfa,dfv,dfpa,dfpv,dfca,dfcv,dfza,dfzv]

for ds in datasets:
    
    a = pd.Series(ds.columns).apply(lambda x : x.split()[0]).map(dictio)
    b = pd.Series(ds.columns).apply(lambda x : x.split()[1])
    c = a + ' ' + b
    ds.columns = c
    ds.reset_index(inplace = True)

In [53]:
dfa.head(2)

,regione,jun 2012,jul 2012,aug 2012,sep 2012,oct 2012,nov 2012,dec 2012,jan 2013,feb 2013,...,dec 2019,jan 2020,feb 2020,mar 2020,apr 2020,may 2020,jun 2020,jul 2020,aug 2020,sep 2020
0,veneto,8.30,8.30,8.30,8.20,8.20,8.10,8.10,8.00,8.00,...,9.10,9.10,9.20,9.30,9.50,9.70,9.80,9.80,9.70,9.60

In [54]:
dfpa.head(2)

,provincia,jun 2012,jul 2012,aug 2012,sep 2012,oct 2012,nov 2012,dec 2012,jan 2013,feb 2013,...,dec 2019,jan 2020,feb 2020,mar 2020,apr 2020,may 2020,jun 2020,jul 2020,aug 2020,sep 2020
0,belluno,9.30,9.00,8.50,7.90,8.50,8.10,7.90,8.00,9.10,...,14.20,14.90,14.40,15.20,14.00,14.70,13.10,13.90,12.60,12.50
1,padova,8.50,8.40,8.40,8.30,8.30,8.30,8.20,8.10,8.10,...,8.80,8.70,8.70,8.80,9.00,9.10,9.20,9.20,9.20,9.20

In [55]:
dfca.head(2)

,comune,jun 2012,jul 2012,aug 2012,sep 2012,oct 2012,nov 2012,dec 2012,jan 2013,feb 2013,...,dec 2019,jan 2020,feb 2020,mar 2020,apr 2020,may 2020,jun 2020,jul 2020,aug 2020,sep 2020
0,belluno,4.50,4.50,5.00,5.10,5.10,5.40,5.70,5.70,5.90,...,5.80,7.10,6.80,5.90,6.20,6.10,6.30,6.60,7.20,7.60
1,agordo,8.80,8.70,9.00,9.00,9.00,9.30,9.30,9.30,9.50,...,10.50,10.70,10.40,10.40,10.40,10.50,10.70,11.20,11.20,11.20

In [56]:
dfza.head(2)

,zona,jun 2012,jul 2012,aug 2012,sep 2012,oct 2012,nov 2012,dec 2012,jan 2013,feb 2013,...,dec 2019,jan 2020,feb 2020,mar 2020,apr 2020,may 2020,jun 2020,jul 2020,aug 2020,sep 2020
0,padova piazze-duomo-santo-santa-sofia,11.00,10.80,10.70,10.60,10.50,10.30,10.10,10.10,10.10,...,11.20,11.30,11.40,11.70,11.80,11.80,11.80,11.70,11.80,11.60
1,padova arcella-san-carlo-san-bellino,6.90,6.90,6.90,7.00,6.90,7.10,7.10,7.10,7.20,...,7.00,7.10,6.80,6.90,6.70,6.70,7.10,7.10,7.10,7.30

<a id='es'></a>
### 8. Write cleaned CSV ([to top](#top))

In [59]:
#dfa.to_csv('Data\\df_veneto_a.csv', index = False)
#dfv.to_csv('Data\\df_veneto_v.csv', index = False)

#dfpa.to_csv('Data\\df_veneto_pa.csv', index = False)
#dfpv.to_csv('Data\\df_veneto_pv.csv', index = False)

#dfca.to_csv('Data\\df_veneto_ca.csv', index = False)
#dfcv.to_csv('Data\\df_veneto_cv.csv', index = False)

#dfza.to_csv('Data\\df_veneto_za.csv', index = False)
#dfzv.to_csv('Data\\df_veneto_zv.csv', index = False)

### TEST

In [60]:
df = pd.read_csv('Data\\df_veneto_ca.csv')
df = df.set_index('comune').T
df.index = pd.to_datetime(df.index)
df.head()

comune,belluno,agordo,alano-di-piave,alleghe,alpago,arsie,auronzo-di-cadore,borca-di-cadore,calalzo-di-cadore,canale-d-agordo,...,valdagno,valdastico,valli-del-pasubio,velo-d-astico,villaga,villaverla,zane,zermeghedo,zovencedo,zugliano
2012-06-01,4.5,8.8,7.1,12.6,5.4,6.8,16.2,15.2,14.1,9.6,...,6.2,4.5,6.2,5.4,6.0,7.2,6.7,7.0,6.5,7.1
2012-07-01,4.5,8.7,6.5,12.7,5.2,6.6,16.4,15.3,14.2,9.7,...,6.0,3.8,5.9,4.8,6.0,7.0,6.4,7.5,6.5,6.9
2012-08-01,5.0,9.0,6.6,12.9,5.4,6.7,16.7,15.6,14.5,9.9,...,5.9,3.8,5.9,4.8,6.2,7.0,6.4,7.6,6.5,6.8
2012-09-01,5.1,9.0,6.6,13.0,5.4,6.7,16.7,15.6,14.5,9.9,...,5.9,3.8,5.8,4.8,6.2,6.8,6.2,7.3,6.6,6.7
2012-10-01,5.1,9.0,6.8,13.2,5.4,6.8,17.5,16.3,15.0,9.8,...,5.9,3.7,5.8,4.8,6.2,6.9,6.2,7.6,6.6,6.6